<div class="container" *ngIf="curso">
  <br />
  <h2>Editar - Curso</h2>
  <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
    <div class="row">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="nombre"
            name="nombre"
            [(ngModel)]="curso.nombre"
            required
          />
          <label for="autor">Autor</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="autor"
            name="autor"
            [(ngModel)]="curso.autor"
            required
          />
          <label for="fecha">Fecha</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="fecha"
            name="fecha"
            [(ngModel)]="curso.fecha"
            required
          />
        </div>
    </div>
    <br>
    <button class="btn btn-success" >Editar curso</button><button (click)="salir()" class="btn btn-secondary" style="margin-left: 5px;">Volver atras</button>
  </form>
  <br>
</div>
