<div class="container">
  <br />
  <h2>Agregar educación</h2>
  <form (ngSubmit)="onAdd()" novalidate #f="ngForm">
    <div class="row">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="titulo"
            name="titulo"
            minlength="2"
            [(ngModel)]="titulo"
            required
          />
          <label for="nombre">Nombre</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="nombre"
            name="nombre"
            minlength="2"
            [(ngModel)]="nombre"
            required
          />
          <label for="inicio">Inicio (año)</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="inicio"
            name="inicio"
            [(ngModel)]="inicio"
            (ngModelChange)="onAnioInicioChange()"
            required
          />
          <label for="fin">Fin</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="fin"
            name="fin"
            [(ngModel)]="fin"
            (ngModelChange)="onAnioFinChange()"
            required
          />
          <label for="tarea1">Tarea 1</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="tarea1"
            name="tarea1"
            [(ngModel)]="tareas[0]"
            required
          />
          <label for="tarea2">tarea 2</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="tarea2"
            name="tarea2"
            [(ngModel)]="tareas[1]"
            required
          />
          <label for="tarea3">tarea 3</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="tarea3"
            name="tarea3"
            [(ngModel)]="tareas[2]"
            required
          />
          <label for="tarea4">tarea 4</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="tarea4"
            name="tarea4"
            [(ngModel)]="tareas[3]"
            required
          />
        </div>
    </div>
    <br>
    <button class="btn btn-success" >Agregar Educacion</button><button (click)="salir()" class="btn btn-secondary" style="margin-left: 5px;">Volver atras</button>
  </form>
  <br>
</div>
