<section id="portfolio" class="section-bg">
  <div class="container" *ngIf="proyectosCargados == 1">
    <div style="display: flex; justify-content: flex-end">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/Proyectos"
        *ngIf="isLogged"
      >
        Editar Proyectos
      </button>
    </div>

    <div class="section-title">
      <h2>Portfolio</h2>
    </div>

    <p>Estos son algunos de mis proyectos</p>

    <div class="project-grid">
      <div class="project" *ngFor="let proyecto of proyectos">
        <h2 class="project-title">{{ proyecto.nombre }}</h2>
        <p class="project-description">{{ proyecto.descripcion }}</p>
        <p class="project-github">
          <a href="{{ proyecto.github_Url }}">Repositorio en GitHub</a>
        </p>
        <p class="project-deploy">
          <a href="{{ proyecto.deploy_Url }}"
            >Enlace a la aplicación en línea</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
