<section id="login">
<h1 class="m-5"> Iniciar Sesión</h1>
<form #f = "ngForm" (ngSubmit)="onLogin()" novalidate class="m-5">
  <div class="mb-3">
    <label for="username" class="form-label">Usuario</label>
    <input type="email" class="form-control" id="username" name="username" [(ngModel)]="username" required aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="password" required name="password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onLogin()">Ingresar</button>
</form>
</section>
