<section id="contact" class="contact" *ngIf="DatosCargados == 1">
  <div class="container">

    <div class="section-title">
      <h2>Contacto</h2>
    </div>

    <div class="row" data-aos="fade-in">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Direccion:</h4>
            <p>{{persona.domicilio}},{{persona.ciudad}} CP: 2600</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p><a href="mailto:abrahamraies@gmail.com">abrahamraies@gmail.com</a></p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Teléfono:</h4>
            <p>+54 9 {{persona.celular}}</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>
