<section id="about" class="about">
  <div class="container" *ngIf="portfolioCargado == 1">

    <div style="display: flex; justify-content: flex-end">
      <button type="button"  class="btn btn-primary" routerLink="/editAbout/1" *ngIf="isLogged" >
        Editar Sobre mi
      </button>
    </div>

    <div class="section-title">
      <h2>Sobre mi</h2>
      <p>{{persona.sobre_mi}}</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="https://firebasestorage.googleapis.com/v0/b/frontend-portfolio-b48a3.appspot.com/o/Perfil.jpeg?alt=media&token=08f58575-30ed-4cca-818f-23e42e0e6088" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{persona.ocupacion}}</h3>
        <p class="fst-italic">
          {{persona.sobre_mi_r1}}
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Nacimiento:</strong> <span>07 Junio 2000</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Nacionalidad:</strong> <span>{{persona.nacionalidad}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>{{persona.ciudad}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Estado civil:</strong> <span>{{persona.estado_civil}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>DNI:</strong> <span>{{persona.dni}}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Cuit:</strong> <span>{{persona.cuit}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{persona.correo}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Celular:</strong> <span>{{persona.celular}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>{{persona.freelance}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Nivel Ingles:</strong> <span>{{persona.nivelIngles}}</span></li>
            </ul>
          </div>
        </div>
        <p>
          {{persona.sobre_mi_r2}}
        </p>
      </div>
    </div>

  </div>
</section>
