<div class="container">
  <br />
  <h2>Agregar educación</h2>
  <form (ngSubmit)="onAdd()" novalidate #f="ngForm">
    <div class="row">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="titulo"
            name="titulo"
            minlength="2"
            [(ngModel)]="titulo"
            required
          />
          <label for="nombre">Nombre</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="nombre"
            name="nombre"
            minlength="2"
            [(ngModel)]="nombre"
            required
          />
          <label for="inicio">Inicio (año)</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="inicio"
            name="inicio"
            [(ngModel)]="inicio"
            (ngModelChange)="onAnioInicioChange()"
            required
          />
          <label for="fin">Fin</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="fin"
            name="fin"
            [(ngModel)]="fin"
            (ngModelChange)="onAnioFinChange()"
            required
          />
          <label for="resumen_edu">Resumen</label>
          <input
            type="text"
            style="width: 100;"
            class="form-control"
            id="resumen_edu"
            name="resumen_edu"
            minlength="2"
            [(ngModel)]="resumen_edu"
            required
          />
        </div>
    </div>
    <br>
    <button class="btn btn-success" >Agregar Educacion</button><button (click)="salir()" class="btn btn-secondary" style="margin-left: 5px;">Volver atras</button>
  </form>
  <br>
</div>
