<div class="container" *ngIf="educaciones">
  <br />
  <h2>Editar - Educacion</h2>
    <div class="row">
        <div class="form-group" *ngFor="let educacion of educaciones" >
          <ol>
            <li value="{{educacion.id_edu}}">
              <span>Titulo:</span> {{educacion.titulo}} - {{educacion.nombre}} <br>
              <span>Años:</span> {{educacion.inicio}}-{{educacion.fin}} <br>
              <span>Resumen:</span> {{educacion.resumen_edu}} <br>
              <button (click)="onUpdate(educacion.id_edu)" class="btn btn-info">Editar Educacion</button> <button (click)="onDelete(educacion.id_edu)" class="btn btn-danger" style="margin-left: 5px;">Eliminar Educacion</button></li>
          </ol>
        </div>
    </div>
    <br>
    <button (click)="addEducacion()" class="btn btn-primary">Agregar Educacion</button><button (click)="salir()" class="btn btn-secondary" style="margin-left: 5px;">Salir sin editar</button>
</div>
