<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resumen</h2>
      <p>Estudié durante 3 años la carrera de Ingenieria en Sistemas de información en la Universidad Tecnológica Nacional de Rosario, luego comenzó la pandemia y me volví a mi ciudad de origen, Venado Tuerto, allí comencé la carrera de Tecnicatura en Programación en la Universidad Tecnologica Nacional, finalicé la carrera en Noviembre del 2022. Actualamente me encuentro realizando cursos y aprendiendo ingles. </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Cursos</h3>
        <div class="resume-item pb-0">
          <h4>Google</h4>
          <ul>
            <li>Google Cloud Essentials - Diciembre 2022</li>
          </ul>
          <h4>Udemy</h4>
          <ul>
            <li>Ionic 6+ - Fernando Herrera - Septiembre 2022</li>
            <li>SAP CPI - Yee Loon Khoo - Junio 2022</li>
            <li>Solid y Clean Code - Daniel Calviño - Febrero 2022</li>
            <li>.NET Core - Jimmy Javier - Febrero 2022</li>
            <li>Azure Devops - Alberto Picazo - Febrero 2022</li>
          </ul>
        </div>


        <h3 class="resume-title">Educacion</h3>
        <div class="resume-item">
          <h4>Tecnicatura en programación</h4>
          <h5>2021 - 2022</h5>
          <p><em>UNIVERSIDAD TECNOLÓGICA NACIONAL, VT</em></p>
          <p>Durante el primer año aprendimos Java utilizando el IDE NetBeans. Luego durante el segundo año aprendimos Spring boot y Angular, ademas de Git Hub y las bases de Docker.</p>
        </div>
        <div class="resume-item">
          <h4>Ingenieria en sistemas de información</h4>
          <h5>2017 - 2020</h5>
          <p><em>UNIVERSIDAD TECNOLÓGICA NACIONAL, ROS</em></p>
          <p>Durante los primeros años aprendí sobre algoritmos y estructura de datos, ademas de un manejo basico de autocad. Luego aprendí las bases de C++ y Smalltalk</p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Experiencia profesional</h3>
        <div class="resume-item">
          <h4>Desarrolador</h4>
          <h5>2021 - Actualidad</h5>
          <p><em>Cooperacion Seguros, VT </em></p>
          <ul>
            <li>Desarrollo de servicios API, utilizando como middleware CPI para exponer las mismas, y utilizando .Net como backend.</li>
            <li>Mantenimiento de servicios, y documentacion de los mismos.</li>
            <li>Optimizacion y mejora de desarrollos deprecados.</li>
            <li>Creacion de formularios en .Net</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Pasante de Sistemas</h4>
          <h5>2017 - 2017</h5>
          <p><em>Famago Hogar, VT</em></p>
          <ul>
            <li>Actualizacion de software y mantemimiento de equipos.</li>
            <li>Relevamiento de personal en el sistema.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
