<section id="resume" class="resume">
  <div class="container" *ngIf="portfolioCargado == 1">

  <div style="display: flex; justify-content: flex-end">
    <button type="button"  class="btn btn-primary" routerLink="/editResume/1" *ngIf="isLogged" >
      Editar Resumen
    </button>
  </div>
    <div class="section-title">
      <h2>Resumen</h2>
      <p>{{persona.resumen[3].detalle}}</p>
    </div>

    <div class="row" *ngIf="cursosCargados == 1">
      <div class="col-lg-6" data-aos="fade-up">
        <button type="button"  class="btn btn-primary" routerLink="/editCursos" *ngIf="isLogged" >
          Editar Cursos
        </button>
        <h3 class="resume-title">Cursos</h3>
        <div class="resume-item">
          <h4>Google</h4>
          <ul *ngFor="let curso of Cursos">
            <li *ngIf="curso.autor == 'Google'">{{curso.nombre}} - {{curso.fecha}}</li>
          </ul>
        </div>
        <div class="resume-item pb-0">
          <h4>Udemy</h4>
          <ul *ngFor="let curso of Cursos">
            <li *ngIf="curso.autor != 'Google'">{{curso.nombre}} - {{curso.autor}} - {{curso.fecha}}</li>
          </ul>
        </div>

        <button type="button"  class="btn btn-primary" routerLink="/Educacion" *ngIf="isLogged" >
          Editar Educacion
        </button>
        <h3 class="resume-title">Educacion</h3>
        <div  *ngFor="let educacion of Educacion">
          <div class="resume-item" *ngIf="educacionCargado == 1">
            <h4>{{educacion.titulo}}</h4>
            <h5>{{educacion.inicio}} - {{educacion.fin}}</h5>
            <p><em>{{educacion.nombre}}</em></p>
            <p>{{educacion.resumen_edu}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" *ngIf="experienciaCargado == 1">
        <button type="button"  class="btn btn-primary" routerLink="/Experiencia" *ngIf="isLogged" >
          Editar Experiencia
        </button>
        <h3 class="resume-title">Experiencia profesional</h3>
        <div class="resume-item pb-0" *ngFor="let experiencia of Experiencia">
          <h4>{{experiencia.titulo}}</h4>
          <h5>{{experiencia.inicio}} - {{experiencia.fin}}</h5>
          <p><em>{{experiencia.nombre}} </em></p>
          <ul>
            <li *ngFor="let tarea of experiencia.tareas">
              {{tarea.detalle}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
