<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resumen</h2>
      <p>Estudié durante 3 años la carrera de Ingenieria en Sistemas de información en la Universidad Tecnológica Nacional de Rosario, luego comenzó la pandemia y me volví a mi ciudad de origen, Venado Tuerto, allí comencé la carrera de Tecnicatura en Programación en la Universidad Tecnologica Nacional, finalicé la carrera en Noviembre del 2022. Actualamente me encuentro realizando cursos y aprendiendo ingles. </p>
    </div>

    <div class="row" *ngIf="cursosCargados == 1">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Cursos</h3>
        <div class="resume-item pb-0">
          <h4>{{Cursos[0].autor}}</h4>
          <ul>
            <li>{{Cursos[0].nombre}} - {{Cursos[0].fecha}}</li>
          </ul>
          <h4>Udemy</h4>
          <ul>
            <li>{{Cursos[1].nombre}} - {{Cursos[1].autor}} - {{Cursos[1].fecha}}</li>
            <li>{{Cursos[2].nombre}} - {{Cursos[2].autor}} - {{Cursos[2].fecha}}</li>
            <li>{{Cursos[3].nombre}} - {{Cursos[3].autor}} - {{Cursos[3].fecha}}</li>
            <li>{{Cursos[4].nombre}} - {{Cursos[4].autor}} - {{Cursos[4].fecha}}</li>
            <li>{{Cursos[5].nombre}} - {{Cursos[5].autor}} - {{Cursos[5].fecha}}</li>
          </ul>
        </div>


        <h3 class="resume-title">Educacion</h3>
        <div class="resume-item" *ngIf="educacionCargado == 1">
          <h4>{{Educacion[0].titulo}}</h4>
          <h5>{{Educacion[0].inicio}} - {{Educacion[0].fin}}</h5>
          <p><em>{{Educacion[0].nombre}}</em></p>
          <p>{{Educacion[0].resumen_edu}}</p>
        </div>
        <div class="resume-item" *ngIf="educacionCargado == 1">
          <h4>{{Educacion[1].titulo}}</h4>
          <h5>{{Educacion[1].inicio}} - {{Educacion[1].fin}}</h5>
          <p><em>{{Educacion[1].nombre}}</em></p>
          <p>{{Educacion[1].resumen_edu}}</p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100" *ngIf="experienciaCargado == 1">
        <h3 class="resume-title">Experiencia profesional</h3>
        <div class="resume-item">
          <h4>{{Experiencia[0].titulo}}</h4>
          <h5>{{Experiencia[0].inicio}} - {{Experiencia[0].fin}}</h5>
          <p><em>{{Experiencia[0].nombre}} </em></p>
          <ul>
            <li>{{Experiencia[0].tarea1}}</li>
            <li>{{Experiencia[0].tarea2}}</li>
            <li>{{Experiencia[0].tarea3}}</li>
            <li>{{Experiencia[0].tarea4}}</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>{{Experiencia[1].titulo}}</h4>
          <h5>{{Experiencia[1].inicio}} - {{Experiencia[1].fin}}</h5>
          <p><em>{{Experiencia[1].nombre}}</em></p>
          <ul>
            <li>{{Experiencia[1].tarea1}}</li>
            <li>{{Experiencia[1].tarea2}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
